---
// Component Imports
import Main from "../layouts/Main.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Main title="git-subtree test">
  <p class="text-5xl font-semibold">Using Astro collections</p>
  <div class="">
    <a href="/connect" class="p-4 text-2xl">Connect</a>
  </div>
  <div class="">
    <a href="/civil" class="p-4 text-2xl">Civil</a>
  </div>
</Main>
